@charset "utf-8";

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 9999999;
  text-align:center;
    top: 0;
  left: 0;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*画面遷移の後現れるコンテンツ設定*/

#container{
  opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay: 0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

.modal {
  display: none;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left:5vw;
  overflow: auto;
  z-index: 99999;
  animation-name: show;
  animation-duration: 0.5s
}

.modal-content {
  position: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  background: rgba(0, 0, 0);
  width: 95vw;
  height: 25%;
  padding:0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* こいつレスポンシブ必須 */
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}



.modal-body {
  padding-top: 0;
  top:0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 5%;
margin:0;
  font-size: 12vh;
  line-height: 0;
  background: black;
  color:white;
}



.close {
  color: #ffffff;
  float: right;
  font-size: 10vh;
  top:0;
  height:25vh;
  width:25vh;
  right:0;
  position: absolute;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-left: 1px solid #ffffff;
}

.close:hover,
.close:focus {
  color: rgba(255, 255, 255, 0.724);
  cursor: pointer;
}
button {

  border: none;
  background: transparent;
  
}





h1 { font-size: 5em; }

 



model-viewer {
  width: 70vw;
  height: 600px;
  z-index: 3;
 /* background-color: #CC99CC;
 ここレスポンシブ必須ですね*/
 position:absolute;
 top:5%;
 left:16%;
}
model-viewer#reveal {
    --poster-color: transparent;
}



.ohuda1{


}

.fuwafuwa {
  animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
  display: inline-block;
  transition: 1.5s ease-in-out;
}
 
@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-1.5deg);
  }
  50% {
    transform:translate(3px, -3px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(1deg);
  }
}




/* glitch  */
.flash {
  animation: flash .03s infinite;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .8;
  }
}
.skew {
  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}

 /*=========　フォントたち ===============*/

.logo_font
{
  position: absolute;
 width:50vw;
 margin: 0auto;
}
 /*========= レイアウトのためのCSS ===============*/



h1{
  font-size:1.2rem;
}

h2{
  font-size:5rem;
  z-index: 3;
  cursor: pointer;
  margin: 0 0 30px 0;
  position: relative;
}

p{
  z-index: 4;
  position:relative;
}

main{
}


.ohuda{
  width: 5vw;
  z-index: 3;
   }



.menu{
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  flex-direction: column;
  padding: 0;
  z-index: 3;
  height:100vh;
  width:5vw;
}

.menu_nakami{
  height:55vh;
  background-color: #000000;
  color: #ffffff;
  font-size: 17px;
  writing-mode: vertical-rl;
  text-align: center;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  position:absolute;
  top:0;
  padding:5px;
  border-right: 1px solid #ffffff;
  width:5vw;
  right:0;
  padding-right: 2vw;
}
.menu_nakami1{
  right:0;
  width: 5vw;
  height:25vh;
  top:55vh;
  background-color: #000000;
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  position:absolute;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.menu_nakami2{
  right:0;
  width: 5vw;
  height:20vh;
  top:80vh;
  background-color: #000000;
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
  position:absolute;
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.modal-midasi{
  padding:50%;
}
.touka_01{
  /* ここモデルね */
  width: 100vw;
  height:100%;
position: absolute;
top:0;
left:0;
z-index: -4;
pointer-events:none;
}
.touka_01_1{
  width: 30vw;
  height:100%;
position: absolute;
top:0;
right:0;
z-index: 4;
pointer-events:none;
}
/* .touka_01_2{
  width: 30vw;
  height:100%;
position: absolute;
background-color: #000000;
opacity: 0.5;
top:0;
right:0;
z-index: 1;
pointer-events:none;
} */
.touka_02{
  height:100%;
position: absolute;
top:55%;left:4vw;
font-family: Helvetica, sans-serif;
font-size: 17px;
z-index: 5;
color:white;
text-shadow: 1px 1px 1px #000000;
}
.touka_02_1{
  height:100%;
position: absolute;
top:60.5%;left:4vw;
font-family: Helvetica, sans-serif;
font-size: 13px;
z-index: 5;
color:white;
line-height:200%;
text-shadow: 1px 1px 1px #000000;
}
.pc { display: block !important; }
.sp { display: none !important; }
 

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */

@media screen and (max-width: 750px) {

  model-viewer {
    width: 70vw;
    height: 500px;
    z-index: 3;
   /* スマホで開いたらどうなるかチェック必須*/
   position:absolute;
   top:0;
   left:16%;
  }
  model-viewer#reveal {
      --poster-color: transparent;
  }


  .pc { display: none !important; }
  .sp { display: block !important; 
    object-fit: cover!important;
    object-position: 0 0!important;
   width:100vw;
}
}


@media screen and (max-width: 960px) {
  .pc { display: block !important; 
    object-fit: cover;
    object-position: 50% 100%;
    height:100%;
   }
   .sp { display: none!important; 

}


  .menu_nakami{display:none !important;
  }
  .menu_nakami1{display:none !important;
  }

  .menu_nakami2{display:none !important;
  }
  .touka_01{
    width: 100vw;
    height:100%;

  top:0;
  left:0;
  z-index: -4;
  pointer-events:none;
  }
  .touka_01_2{
    background-color: none;
    opacity: 0;
  }
.touka_02{
  height:100%;
position: absolute;
top:55%;left:4vw;
font-family: Helvetica, sans-serif;
font-size: 2vw;
z-index: 5;
color:white;
}
.touka_02_1{
  height:100%;
position: absolute;
top:60.5%;left:4vw;
font-family: Helvetica, sans-serif;
font-size: 1.3vw;
z-index: 5;
color:white;
line-height:200%;
}
#particles-js{ 
  position:absolute;
   width: 100%; height: 120%; 
   background-image: url(""); 
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: 50% 50%; 
   z-index: 2;
  }


}

body{
  background-color:#000000;
  font-family: serif;
  margin:0;
}
section:nth-child(2n){
  background:#000000; 
}

#footer{
  background:#ff0000ba;

}


.onclick{
  cursor:pointer;
}
h4{
  color:rgb(255, 148, 148);
  font-size:1.5rem;
  position:absolute;
  top:229%;left:40%;
}





  /* 左から右にふわっとフェードイン */
.fadeInLeft.visible {
  animation: fadeInLeft 0.9s ease 0s 1 normal;
}
/* fadeInLeft */
@keyframes fadeInLeft {
0% {
  opacity: 0;
  transform: translateX(-30px);
}
100% {
  opacity: 1;
}
}

.dennnouzinnzya{
  text-shadow: -4px -4px 1px #808080,4px 4px 1px #2e8b57
  /* 二つ影があります。グリッチ表現にいいかも */
}


/* ---- particles.js container ---- */
 #particles-js{ 
  position:absolute;
   width: 100%; height: 120%; 
   background-image: url(""); 
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: 50% 50%; 
   z-index: -3;
  }



.syasenn1{
  position: absolute;  
  z-index: 2;border: 1px solid #333333; background-color: #ffff99;top:140%;
  height:100px;
  width:95vw;
  left:5vw;
  right:0;
}
  .me{
    z-index: 7;
    position:absolute;
    width:25vw;
    left:15%;
    top:150%;
    
    }