html,body,p{
  padding:0;
  margin:0;
}

body{
  background: #000;
  text-align:center;
  font-family: serif;


  }
  .wrapper {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
  }
  
  .wrapper::before {
     content: '';
     display: block;
     width: 100%;
     height: 100%;
     background-image: url(images/dennnou_torii.png);
     background-size: cover;
     background-position: center;

  background-attachment: fixed;
     background-repeat: no-repeat;
     -webkit-animation: zoom 50s 1;
     animation: zoom 50s 1;
     animation-fill-mode: forwards;
  }
  
  @keyframes zoom {
     0% {
        transform: scale(1);
     }
     100% {
        transform: scale(1.5);
     }
  }
  

/* Nintendoid font from https://www.splintered.co.uk/experiments/132/ */


html { background: #111;
       padding: 1em;
       color: #eee;
       font-size: 1em;
       line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;
       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}
h1 { font-size: 5em; }

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}

.kannnusi1 {
  font-size:1em;
  text-align:left;
  line-height:1.3em;
  color: #ffffff;
  padding-left:25%;
  padding-right:25%;
  padding-top:10%;
  padding-bottom:15%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

